@using OdeToFood.Models
@model OdeToFood.Models.Restaurant

<h1>Create</h1>
<form method="post">
    
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="cuisine"></label>
        <select asp-for="cuisine" asp-items="@Html.GetEnumSelectList<CuisineType>()"></select>
        <span asp-validation-for="cuisine"></span>
    </div>

    <input type="submit" name="save" value="Save" />
</form>
