@model OdeToFood.ViewModels.ContactViewModel

    @foreach (var foodContact in Model.Contacts)
    {
        <div>Name: @foodContact.Name</div>
        <div>Street: @foodContact.Street</div>
        <div>City: @foodContact.City</div>
        <div>Phone: @foodContact.Phone</div>
    }
    <a asp-action="Create">Add Contact</a>
