@model OdeToFood.ViewModels.ContactViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @foreach (var foodContact in Model.Contacts)
    {
        <div>Name: @foodContact.Name</div>
        <div>Street: @foodContact.Street</div>
        <div>City: @foodContact.City</div>
        <div>Phone: @foodContact.Phone</div>
    }
</body>
</html>