@using OdeToFood.Models
@model OdeToFood.Models.FoodContact

<h1>Create Contact</h1>
<form method="post">

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Street"></label>
        <input asp-for="Street" />
        <span asp-validation-for="Street"></span>
    </div>
    <div>
        <label asp-for="City"></label>
        <input asp-for="City" />
        <span asp-validation-for="City"></span>
    </div>
    <div>
        <label asp-for="Phone"></label>
        <input asp-for="Phone" />
        <span asp-validation-for="Phone"></span>
    </div>
    <input type="submit" name="save" value="Save" />

</form>