@model OdeToFood.Models.FoodContact

<div>Name: @Model.Name</div>
<div>Street: @Model.Street</div>
<div>City: @Model.City</div>
<div>Phone: @Model.Phone</div>
<a asp-action="Contacts" asp-controller="Contact">Contacts</a>